$color_1: #f2f2f2;
$color_2: white;
$color_3: black;
$font-size : 50px;
$color1:#474747;
$font-family_1: inherit;
$background-color_1: rgba(0, 0, 0, 0);
$background-color_2: #04AA6D;
$background-color_3: inherit;
$background-color_4: #f9f9f9;
$background-color_5: #555;
$background-color_6: #ddd;
$first-size:50px;
$primary-color:#323232;
$primary-font:'Didact Gothic', sans-serif;
$second-font:'Outfit', sans-serif;
$color: rgb(255, 198, 92);
$font: "Visby CF Medium", sans-serif;
$color-opacity-yellow: rgba(255, 198, 92, 0.8);
$color-opacity-green: rgba(0, 165, 88, 0.8);
$color-opacity-purple: rgba(156, 0, 156, 0.8);
$color-opacity-red: rgba(255, 0, 0, 0.8);